In [1]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune' ]

In [4]:
print ('The first planet is', planets [0])

The first planet is Mercury

In [5]:
planets [3] ='Red Planet'
print ('Mars is also jnoen as' , planets [3])

Mars is also jnoen as Red Planet

In [11]:
numero_de_planetas = len (planets)
print ('There are' , numero_de_planetas , 'planets in the solar system')

There are 9 planets in the solar system

In [53]:
planets.append ('Pluton')
numero_de_planetas = len (planets)
print ('There are' , numero_de_planetas , 'planets in the solar system')

There are 9 planets in the solar system

In [54]:
planets.pop ()
numero_de_planetas = len (planets)
print ('No, there are definitely' , numero_de_planetas , 'planets in the solar system')

No, there are definitely 8 planets in the solar system

In [56]:
print ('The last planet is' , planets [-1])
print ('The penultimate planet is' , planets [-2])

The last planet is Neptune
The penultimate planet is Uranus

In [55]:
print (planets)

['Mercury', 'Venus', 'Earth', 'Red Planet', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [59]:
jupiter_index = planets.index ('Jupiter')
print ('Jupiter is the' , jupiter_index +1 , 'planet from de sun')

Jupiter is the 5 planet from de sun

In [80]:
gravity_on_earth = 1.0
gravity_on_the_moon = 0.166
gravity_on_the_planets = [0.378, 0.907, 1, 0.379, 2.36, 0.916, 0.889, 1.12]
print (gravity_on_the_planets)

[0.378, 0.907, 1, 0.379, 2.36, 0.916, 0.889, 1.12]

In [77]:
peso_bus = 12650 #kg on Earth 
print ('On Earth, a double-decker bus weighs' , peso_bus, 'kg')
print ('On Mercury, a double-decker bus weighs', (peso_bus * gravity_on_the_planets [0]), 'kg')

On Earth, a double-decker bus weighs 12650 kg
On Mercury, a double-decker bus weighs 4781.7 kg

In [83]:
peso_bus = 12650 #kg on Earth 
print ('On Earth, a double-decker bus weighs' , peso_bus, 'kg')
print ('The lightest a bus would be in the solar system is' , peso_bus * min (gravity_on_the_planets), 'kg')
print ('The haviest a bus would be in the solar system is' , peso_bus * max (gravity_on_the_planets), 'kg')

On Earth, a double-decker bus weighs 12650 kg
The lightest a bus would be in the solar system is 4781.7 kg
The haviest a bus would be in the solar system is 29854.0 kg

In [86]:
planets_before_earth = planets [0:2]
print (planets_before_earth)

['Mercury', 'Venus']

In [93]:
planets_after_earth = planets [3:8]
print (planets_after_earth)

['Red Planet', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [94]:
galileanas_moon = ['Io', 'Europa', 'Ganímedes', 'Callisto']
amaltea_moon = ['Metis', 'Adrastea', 'Amaltea', 'Teba']
regular_moon = galileanas_moon + amaltea_moon 
print ('The regular satellite moons of Jupiter are', regular_moon)

The regular satellite moons of Jupiter are ['Io', 'Europa', 'Ganímedes', 'Callisto', 'Metis', 'Adrastea', 'Amaltea', 'Teba']

In [95]:
regular_moon.sort ()
print ('The regular satellite moons of Jupiter are', regular_moon )

The regular satellite moons of Jupiter are ['Adrastea', 'Amaltea', 'Callisto', 'Europa', 'Ganímedes', 'Io', 'Metis', 'Teba']

In [103]:
regular_moon.sort (reverse=True)

print ('The regular satellite moons of Jupiter are' , regular_moon)

The regular satellite moons of Jupiter are ['Teba', 'Metis', 'Io', 'Ganímedes', 'Europa', 'Callisto', 'Amaltea', 'Adrastea']